<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to ...
  </h1>
  <img width="600" alt="Angular Logo" src="assets/webdriver_gym.jpg">
</div>
<h2>Here is a random component</h2>
<div class="toDoContainer">
  <form #toDoForm ngForm>
    <div class="form-group">
      <h1 class="text-center text-primary"><span class="pink-text">Todo App</span></h1>
      <div class="input-group-prepend">
        <input type="text" #todo class="form-control" placeholder="Add Todo" name="todo" ngModel>
        <span class="input-group-text" (click)="addToDo(todo.value)" (click)="toDoForm.reset()"><i class="material-icons">Add</i></span>
      </div>
      <div class="data">
        <ul class="list-instyled">
          <li *ngFor="let todo of toDoArray">{{todo}}
            <i (click)="deleteItem(todo)" class="material-icons">delete</i>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>

<div class="linksContainer">
  <h2>Here are some random links: </h2>
  <ul>
    <li>
      <h3><a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Integral_theory_(Ken_Wilber)">Integral Theory</a></h3>
    </li>
    <li>
      <h3><a target="_self" rel="noopener" href="https://www.youtube.com/watch?v=B-N1yJyrQRYi">10 Hours of Leekspin</a></h3>
    </li>
    <li>
      <h3><a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=-50NdPawLVY">Crab Rave</a></h3>
    </li>
  </ul>
</div>

<div class="container">
  <!-- login -->

</div>


<router-outlet></router-outlet>
