<!--The content below is only a placeholder and can be replaced.-->
<div class="main-container">
  <h1>
    <span class="pageheader">Welcome to...</span>
  </h1>
  <img width="600" alt="Angular Logo" src="assets/webdriver_gym.jpg">
<hr>

<div class="authContainer">
  <h2>User Login</h2>
  <form #loginForm ngForm>
    <div class="form-group">
      <div class="input-group-prepend">
          <input type="text" #user class="username" placeholder="User Name" name="user" ngModel>
          <input type="text" #pass class="password" placeholder="Password" name="password" ngModel>
          <span class="input-group-text" (click)="logIn(user.value, pass.value)" (click)="loginForm.reset()"><i>Submit</i></span>
      </div>
    </div>
  </form>
  <div class="auth-message">{{authState}}</div>
</div>

<hr>
<h2>Here is a To Do component</h2>
<div class="toDoContainer">
  <form #toDoForm ngForm>
    <div class="form-group">
      <h1 class="text-center text-primary"><span class="pink-text">Todo App</span></h1>
      <div class="input-group-prepend">
        <input type="text" #todo class="form-control" placeholder="Add Todo" name="todo" ngModel>
        <span class="input-group-text" (click)="addToDo(todo.value)" (click)="toDoForm.reset()"><i>Add</i></span>
      </div>
      <div class="data">
        <ul class="list-instyled">
          <li *ngFor="let todo of toDoArray">{{todo}}
            <i (click)="deleteItem(todo)" class="material-icons">delete</i>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>
<div class="simpleTextArea">
  <h2>This is a simple text area</h2>
  <form #simpleTextArea ngForm>
    <div class="form-group">
      <p><span class="pink-text">Please type something... (50 character limit)</span></p>
        <textarea class="mytextarea" #simpleText rows="5" cols="35" ngModel></textarea>
      <span class="input-group-text" (click)="addText(simpleText.value)" (click)="simpleTextArea.reset()"><i>Submit</i></span>
    </div>
    <span> You entered: {{simpleTextBlob}} </span>
  </form>
</div>

<div>
  <h2>Here is an image slider:</h2>
  <div class="form-control">
    <drag-scroll #nav class="drag-scroll">
      <img drag-scroll-item src="assets/carousel/80s.png" />
      <img drag-scroll-item src="assets/carousel/casette.png" />
      <img drag-scroll-item src="assets/carousel/cube.png" />
      <img drag-scroll-item src="assets/carousel/joystick.png" />
      <img drag-scroll-item src="assets/carousel/radio.png" />
      <img drag-scroll-item src="assets/carousel/tv.png" />
      <img drag-scroll-item src="assets/carousel/vhs.png" />
      <img drag-scroll-item src="assets/carousel/viewmaster.png" />
      <img drag-scroll-item src="assets/carousel/wayfarers.png" />
    </drag-scroll>
    <br>
    <button class="scrollbutton" (click)="nav.moveLeft()">Left</button>
    <button class="scrollbutton" (click)="nav.moveRight()">Right</button>
  </div>
</div>

<hr>

<div class="linksContainer">
  <h2>Here are some random links: </h2>
  <ul class="form-control">
    <li>
      <h3><a target="_blank" rel="noopener" href="https://en.wikipedia.org/wiki/Integral_theory_(Ken_Wilber)">Integral Theory</a></h3>
    </li>
    <li>
      <h3><a target="_self" rel="noopener" href="https://www.youtube.com/watch?v=B-N1yJyrQRYi">10 Hours of Leekspin</a></h3>
    </li>
    <li>
      <h3><a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=-50NdPawLVY">Crab Rave</a></h3>
    </li>
  </ul>
</div>

<div class="footer">
  Text item number one<br>
  Text item number two comes after number one<br>
  Text item number three comes after number two<br>
  Text item number three has a <a href="http://www.ytmnd.com">link</a> in it<br>
  Text item number contains the current date {{currentDate}}<br>
</div>

<router-outlet></router-outlet>
</div>
